<c-sidebar visible #sidebar1="cSidebar" class="border-end">
    <c-sidebar-header class="border-top">
        <c-sidebar-brand>
            <div class="center">
                <img src="favicon.ico" alt="logo" class="sidebar-brand-full" href="#">
            </div>
        </c-sidebar-brand>
    </c-sidebar-header>
    <c-sidebar-header class="border-bottom">
      <c-sidebar-brand>Sidebar Brand</c-sidebar-brand>
    </c-sidebar-header>
    <c-sidebar-nav [navItems]="navItems" />
    <c-sidebar-footer cSidebarToggle="sidebar1" class="border-top" toggle="unfoldable" style="cursor: pointer;">
      <button cSidebarToggler></button>
    </c-sidebar-footer>
  </c-sidebar>

  <div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <c-header>
      <button class="header-toggler px-md-0 me-md-3" type="button">
        <span class="icon-list"></span>
      </button>
      <a class="header-brand" href="#">Admin Dashboard</a>
    </c-header>
    <div class="body flex-grow-1 px-3">
      <router-outlet></router-outlet>
    </div>
    <c-footer>
      <div>© 2023 Your Company</div>
    </c-footer>
  </div>